.test {
    background: url("<node imgurl>") no-repeat;
}
.test {
    background: url("<node imgurl>") no-repeat;
}
.test {
    background: url("http://www.googlefonts/somefont.wof") no-repeat;
}
.test {
    background: url("<node imgurl>") no-repeat;
}